/* ======================================
//ANIMATION
======================================*/
@-webkit-keyframes hvr-buzz {
	50% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg)
	}

	100% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg)
	}
}

@keyframes hvr-buzz {
	50% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg)
	}

	100% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg)
	}
}

.hvr-buzz {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-animation-name: hvr-buzz;
	animation-name: hvr-buzz;
	-webkit-animation-duration: .40s;
	animation-duration: .40s;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}


@-webkit-keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px)
	}

	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px)
	}

	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px)
	}

	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px)
	}

	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px)
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px)
	}

	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px)
	}

	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px)
	}

	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px)
	}

	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px)
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

.hvr-wobble-horizontal {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: .5rem;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-animation-name: hvr-wobble-horizontal .3s ease-in-out infinite;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

/* ======================================
//END ANIMATION
======================================*/