$yellow: #fff871;
$white: #fff;
$dark-magenta: #660066;
$gold: #ffc107;
$dark-blue: #00263b;
$dark-blue2: #00476E;
$dark-blue3: #086FA6;
$light-blue1: #1CBAEB;
$light-blue2: #389ACF;

$column-gap: 2rem;
$row-width: 96rem;

$margin-top-big: 10rem;